.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(var(--bg-g),1.0);

  &.sticky{

    @include small-tablet{
      .phone-link{
        padding: 8px;
      }
    }
  }

  &__inner {
    position: relative;
    display: grid;
    align-items: center;
    z-index: 2;

    @include for-small-tablet{
      height: 72px;
    }

    @include for-laptop{
      grid-gap: clamp(20px, 4.5614vw, 52px);
    }

    @include laptop{
      grid-gap: 20px;
    }

    @include for-tablet{
      grid-template-columns: 1fr auto auto;
    }

    @include tablet{
      grid-template-columns: 1fr auto;

      .phone-link{
        @include for-small-tablet{
        justify-self: end;
        }
      }
    }

    @include small-tablet{
      grid-template-columns: 1fr;
      grid-gap: 0;
      justify-items: center;
    }

    .main-nav{
      justify-self: end;

      @media (min-width: (1150px)) {
        padding-right: 28px;
      }

      @include tablet{
        display: none;
      }
    }

    .main-btn{
      height: 100%;

      @include small-tablet{
        display: none;
      }
    }

    .phone-link{
      @include small-tablet{
        padding:26px 0 21px;
        position: relative;
        z-index: 1;

        &::before{
          position: absolute;
          height: 100%;
          width: 100vw;
          pointer-events: none;
          z-index: -1;
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color:  rgba(var(--bg-b),1.0);
        }
      }
    }
  }

  .logo{
    @include laptop{
      left: -8%;
    }

    @media (min-width: (1024px)) and (max-width: (1085px)) {
      left: -10%;
    }

    @include for-small-tablet{
      left: -13%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: -1;
    }
  }
}


