.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #011f27;


  &.sticky{
   
  }

  &__inner {
    position: relative;
    height: 72px;
    display: grid;
    align-items: center;
    z-index: 2;

    @include for-laptop{
      grid-gap: clamp(20px, 4.5614vw, 52px);
    }

    @include laptop{
      grid-gap: 20px;
    }

    @include for-tablet{
      grid-template-columns: 1fr auto auto;
    }

    @include tablet{
      grid-template-columns: 1fr auto;

      .phone-link{
        justify-self: end;
      }
    }

    .main-nav{
      justify-self: end;

      @media (min-width: (1150px)) {
        padding-right: 28px;
      }

      @include tablet{
        display: none;
      }
    }

    .main-btn{
      height: 100%;
    }
  }

  .logo{
    left: -13%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: -1;

    @include laptop{
      left: -8%;
    }

    @media (min-width: (1024px)) and (max-width: (1085px)) {
      left: -10%;
    }
  }
 
}


