.modal {
    background: #17181b;
    max-width: 762px;
    position: relative;
    padding: 69px 54px 46px;

    @include for-mobile{
      width: 90vw;
    }

    @include mobile{
      width: 100vw;
    }

    &__box{
      display: flex;
      flex-direction: column;
      grid-gap: 28px;
      width: 100%;

      @include for-mobile{
        align-items: center;
      }
    }

    &__wrapp{
        width: 100%;
    }

    &__title{
      font-family: var(--font-family2);
      font-size: 30px;
      line-height: 24px;
      font-weight: 700;
      color: rgba(var(--cl-l),1.0);
    }

    .main-btn{
      align-self: center;
    }

    &__close{
      position: absolute;
      top: 12px;
      right: 40px;
      transition: all .3s;
      z-index: 25;
    &:hover{
      transform: scale(1.1);
    }
    }
    .main-form{
      &__input, &__area{
        background-color: rgba(var(--bg-a),1.0);
      }

      &__subtitle{
        color: rgba(var(--cl-l),1.0);
      }
    }
  }
  