<footer class="footer">
    <div class="footer__bg">
      <picture>
        <img width='1920' height='412' src='./img/index/bg5.jpg' alt='image'>
      </picture>
    </div>
  <div class="container">
    <div class="main-btns">
      <button class="green-btn">
        <img width='46' height='46' src="./img/index/whatsapp.png" alt="image">
        Написать в Whatsapp
        <span></span>
      </button>
      <button class="blue-btn">
        <img width='45' height='45' src="./img/index/tg.png" alt="image">
        Написать в Telegram
        <span></span>
      </button>
      <button class="main-btn">
        Заявка на консультацию
        <span></span>
      </button>
    </div>
  </div>
</footer>
