.about-section{
    padding: clamp(46px, 7.5439vw, 86px) 0 clamp(59px, 14.2982vw, 163px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(40px, 6.0526vw, 69px);
    }
}