.first-section {
  position: relative;
  z-index: 5;
  padding: 456px 0 82px;

  &__bg {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    inset: 0;

    img,
    picture {
      width: 100%;
      height: 100%;
      object-position: top center;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(32px, 5.614vw, 64px);
    
  }

  &__title {
    font-family: var(--font-family);
    font-size: clamp(40px, 5.5263vw, 63px);
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(var(--cl-c),1.0);
    text-align: center;


    span{
      font-size: clamp(24px, 2.807vw, 32px);
      line-height: 200%;
    }
  }

  &__text {
    font-family: Georgia;
    font-size: clamp(18px, 2.193vw, 25px);
    line-height: 95%;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(var(--cl-c),1.0);
    margin-bottom: 24px;
    text-align: center;
  }

  


}
