.quest-section{
    padding: clamp(60px, 10.5263vw, 120px) 0 clamp(80px, 13.1579vw, 150px);

    &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: clamp(70px, .9649vw, 111px);
        position: relative;
        z-index: 1;
    }

    &__image{
        position: absolute;
        left: 7%;
        top: 1%;
        z-index: -1;
        width: Min(20.9649vw, 239px);
        height: Min(64.9123vw, 740px);

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__inner{
        align-self: flex-end;
        max-width: 688px;
        display: flex;
        flex-direction: column;
        grid-gap: clamp(25px, 2.9825vw, 34px);

        p{
            font-family: var(--font-family3);
            font-size: clamp(14px, 1.4912vw, 17px);
            line-height: 145%;
            font-weight: 400;
        }
    }
}