.about-nav{
    display: flex;
    align-items: center;
    grid-gap: 35px 18px;
  
    @include laptop{
        flex-wrap: wrap;
        justify-content: center;
    }

    &__btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 28px;
        text-align: center;
        font-family:  var(--font-family);
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color:  rgba(var(--cl-f),1.0);
        transition: all .3s;

        @include for-mobile{
            width: 148px;
        }

        @include mobile{
            width: 151px;
        }

        img{
            border: solid 5px transparent;
            transition: all .3s;
            pointer-events: none;

            @include for-mobile{
                width: 148px;
                height: 148px;
            }

            @include mobile{
                width: 151px;
                height: 151px;
            }
        }

        &.active{
            color: rgba(var(--cl-g),1.0);

            img{
                border-color: var(--br-b);
            }
        }

        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
}