.about-nav{
    display: flex;
    align-items: center;
    grid-gap: 35px 18px;
    background-color: rgba(var(--bg-i),1.0);
    z-index: 5;
    padding: 15px 0 5px;
  
    @include laptop{
        overflow-x: auto;
        width: calc(100% + (var(--container-offset) * 2));
        margin-left: calc(var(--container-offset) * -1);
        padding: 15px var(--container-offset) 5px;
    }

    &::-webkit-scrollbar{
        display: none;
    }

    @include for-mobile{
        position: sticky;
        top: calc(var(--header-height));

        &::before{
            position: absolute;
            content: '';
            background-color: rgba(var(--bg-i),1.0);
            inset: 0;
            z-index: -1;
            pointer-events: none;
        }
    }

    &__btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: clamp(15px, 2.3932vw, 28px);
        text-align: center;
        font-family:  var(--font-family);
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color:  rgba(var(--cl-f),1.0);
        transition: all .3s;
            width: clamp(115px, 12.6496vw, 148px);
    

        @include mobile{
            width: 151px;
        }

        img{
            border: solid 5px transparent;
            transition: all .3s;
            pointer-events: none;
           
         
                width: clamp(115px, 12.6496vw, 148px);
                height: clamp(115px, 12.6496vw, 148px);
         

            @include mobile{
                width: 151px;
                height: 151px;
            }
        }

        &.active{
            color: rgba(var(--cl-g),1.0);

            img{
                border-color: var(--br-b);
            }
        }

        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
}