.main-btn {
  width: 262px;
  height: 60px;
  background-color: rgba(var(--bg-c),1.0);
  font-family: var(--font-family2);
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: rgba(var(--cl-c),1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::before{
    transition: all .3s;
    transform: translateY(100%);
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: rgba(var(--cl-b),.2);
  }

  &:hover{
    &::before{
      transform: translateY(0);
    }
  }
}

.green-btn{
  background-color: rgba(var(--bg-d),1.0);
  width: 262px;
  height: 60px;
  font-family: var(--font-family2);
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: rgba(var(--cl-c),1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: clamp(10px, 1.1404vw, 13px);
  transition: all .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::before{
    transition: all .3s;
    transform: translateY(100%);
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: rgba(var(--cl-b),.2);
  }

  &:hover{
    &::before{
      transform: translateY(0);
    }
  }
}
.blue-btn{
  background-color: rgba(var(--bg-e),1.0);
  width: 262px;
  height: 60px;
  font-family: var(--font-family2);
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: rgba(var(--cl-c),1.0);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: clamp(10px, 1.1404vw, 13px);
  transition: all .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::before{
    transition: all .3s;
    transform: translateY(100%);
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: rgba(var(--cl-b),.2);
  }

  &:hover{
    &::before{
      transform: translateY(0);
    }
  }
}

.white-btn{
  font-family: var(--font-family2);
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  color: rgba(var(--cl-d),1.0);
  width: 262px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--bg-a),1.0);
  transition: all .3s;
  position: relative;
  z-index: 2;
  overflow: hidden;

  &::before{
    transition: all .3s;
    transform: translateY(100%);
    position: absolute;
    z-index: -1;
    inset: 0;
    content: '';
    background-color: rgba(var(--cl-b),.2);
  }

  &:hover{
    &::before{
      transform: translateY(0);
    }
  }
}